 body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);;
}
canvas {
  display: block;
  background-color: burlywood;
}
